:root {
    color: #ddd;
    --scrollbar-color: #ddd;
}

html, body {
    background: #222;
}

nav, article {
    border: 1px solid rgba(180, 180, 180, 0.3);
}

article_title {
    background: #333;
}

header, footer, article_title, article_body, article_info {
    border: 1px solid rgba(180, 180, 180, 0.3);
}
.header-c > a {
    color: white;
    border: 1px solid rgba(180, 180, 180, 0.3);
}
article_title > a {
    color: #ddd;
}
article_title > a:hover, nav > a:hover,
.header-r > a:hover, .header-c > a:hover {
    background: #777;
    color: wheat;
}
