:root {
    color: green;
    --scrollbar-color: green;
    text-shadow: 1px 2px 3px grey;
}
html, body {
    background: #c9edcd52;
}

nav, article {
    border: 1px solid rgba(142, 142, 142, 0.3);
    background-image: url('/static/img/bg.jpg'); /* Update this path */
}
article_title {
    background-color: #cfefd5;
}
header, footer, article_title, article_body, article_info {
    border: 1px solid rgba(180, 180, 180, 0.3);
}

article_title > a {
    color: green;
}
article_title > a:hover, reports > a:hover,
.header-r > a:hover, .header-c > a:hover {
    background: #117910;
    color: wheat;
}

