<!doctype html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/{{session['style']}}/include.css">
    {% block set_style %}{% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <common-container>
        <header>
            <div class="header-l"><img class="img_logo" src="/static/img/logo-g.ico"><a style="font-size:20px">&emsp;{{ res_value('APP_NAME') }}</a> </div>

            <div class="header-c">
                    <a class="nav_button" style="margin-left: 16px; padding: 8px 24px" href="http://tolem.gfss.kz">Tolem</a>
                    <a class="nav_button" style="margin-left: 16px; padding: 8px 24px" href="http://qyzmetker:80">Qyzmetker</a>
            </div>
            <div class="header-r">
                {% if 'style' in session and session['style'] == 'color' %}
                <div>
                    <a href="/change-style"><img class="img-style" src="/static/img/icons8-black-white-50.png" style="width: 24px; height: 24px" /></a>
                </div>
                {% else %}
                <div>
                    <a href="/change-style"><img class="img-style" src="/static/img/icons8-color-48.png" style="width: 24px; height: 24px" /></a>
                </div>
                {% endif %}

                {% if session['language'] == 'ru' %}
                <a href="/language/kz">ҚАЗ</a>
                {% else %}
                <a href="/language/ru">РУС</a>
                {% endif %}
                {% if g.user.is_anonymous == True %}
                <a href="/login">{{ res_value('LOGIN') }}</a>
                {% else %}
                <a href="/logout">{{ res_value('LOGOUT') }}</a>
                {% endif %}

            </div>
        </header>

        <nav>
            {% block navigate %}{% endblock %}
            {% if g.user.is_active %}
            <a class="nav_button" href="/running-reports">{{ res_value('RUNNING_REPORTS') }}</a>
            {% if 'Admin' in g.user.roles %}
            <a class="nav_button" id="aux_task" href="/auxiliary-task-dia">{{ res_value('AUXILIARY_TASK') }}</a>
            {% endif %}
            <!--<a class="title2" href="/change-passwd">{{ res_value('CHANGE_PASSWORD') }}</a>-->
            <a class="nav_button" href="/logout">{{ res_value('LOGOUT') }}</a>
            {% endif %}
        </nav>

        <!--<div class="article_title">
            {% block main_title_2 %}{% endblock %}
        </div>-->
        <article_title>
            {% block main_title %}{% endblock %}
        </article_title>

        <article>
            {% block body %}{% endblock %}
        </article>

        <footer>
            <div class="footer-l">
                <small>© 2023</small>
            </div>
            <div class="footer-r">
                <small style="visibility: hidden">{{ res_value('CREATORS') }}</small>
                <small style="visibility: hidden">{{ res_value('FOR_DEVELOPERS') }}</small>
                <a style="font-size:14px">{% if g.user and g.user.full_name %} {{g.user.full_name}}/{{g.user.principal_name}}/{{g.user.depname}} {% endif %}</a>
            </div>
        </footer>
    </common-container>
</body>

</html>