{% extends 'base.html' %}

{% block title %}
{{ res_value('SELECT_REPORT') }}
{% endblock %}

{% block main_title %}
<a href="/"><dev class="image-home"><img src="/static/img/Home-1.png"></dev></a>&nbsp;. . .&nbsp;<a href="/dep/{{ session['dep_name'] }}">{{ session['dep_name'] }}</a>&nbsp;. . .&nbsp;<a href="/list-reports/{{ session['grp_name'] }}">{{ session['grp_name'] }}</a>&nbsp;. . .&nbsp;<a>{{ session['rep_code'] }}.&nbsp;{{ session['rep_name'] }}</a>
{% endblock %}

{% block navigate %}
<a class="nav_button" href="/{% if 'dep_name' in session %}dep/{{ session['dep_name']}}{% endif %}">{{ res_value('RETURN') }}</a>
{% endblock %}

{% block body %}
<form style="margin: 16px; border: none" method="POST">
    <table style="width: auto">
        <tbody>
            {% for key, val in params.items() %}
            <tr class="cancel_background_hover">
                {% if val is string %}
                    {# Old Style: val — это display_name #}
                    {% set display_name = val %}
                    {% set input_type = 'string' %}
                    {% set maxlength = 4 %}
                    {% set is_required = True %}

                    {% if key[:1].lower() == 'd' %}
                        {% set input_type='date' %}
                    {% endif %}
                    {% if key[:1].lower() == 'n' %}
                        {% set input_type='number' %}
                    {% endif %}

                {% else %}
                    {# New Style: val — this is a dict #}
                    {% set display_name = val.display_name %}
                    {% set input_type = val.type %}
                    {% set maxlength = val.length %}
                    {% if val is mapping and 'required' in val %}
                        {% set is_required = val.required %}
                    {% else %}
                        {% set is_required = True %}
                    {% endif %}
                {% endif %}

                {% if maxlength is number %}
                    {% if input_type == 'string' %}
                        {% set width = maxlength + 2 %}
                    {% elif input_type == 'number' %}
                        {% set width = maxlength + 4 %}
                    {% else %}
                        {% set width = maxlength + 1 %}
                    {% endif %}
                {% else %}
                    {% set width = 20 %}
                {% endif %}
                
                {% if val is mapping and 'values' in val %}
                    {% set enum_values = val['values'] %}
                {% else %}
                    {% set enum_values = [] %}
                {% endif %}

                <td style="border: none; margin: 0px; padding: 0px; text-align: left;">
                    <label for="{{ key }}">{{ display_name }}</label>
                </td>
                <td style="border: none; margin: 0px; padding-left: 6px; text-align:left">

                    {% if input_type == 'date' %}
                        <input class="input_s" type="date" id="{{ key }}" name="{{ key }}"  {% if is_required %} required {% endif %}>
                    {% endif %}

                    {% if input_type == 'string' %}
                        {% if maxlength is not none %}
                            <input class="input_s" type="text" id="{{ key }}" name="{{ key }}" size="{{ width }}" maxlength="{{ maxlength }}" {% if is_required %} required {% endif %}>
                        {% else %}
                            <input class="input_s" type="text" id="{{ key }}" name="{{ key }}" size="{{ width }}" {% if is_required %} required {% endif %}>
                        {% endif %}
                    {% endif %}

                    {% if input_type == 'number' %}
                        {% if maxlength is not none %}
                            <input id="{{ key }}" name="{{ key }}" class="input_s" type="number" style="--w: {{ width }}; width: calc(var(--w) * 1ch);" max="{{ maxlength }}" inputmode="numeric" pattern="\d*" {% if is_required %} required {% endif %}>
                        {% else %}
                            <input class="input_s" type="number" id="{{ key }}" name="{{ key }}" inputmode="numeric" pattern="\d*" style="--w: {{ width }}; width: calc(var(--w) * 1ch);" {% if is_required %} required {% endif %}>
                        {% endif %}
                    {% endif %}

                    {% if input_type == 'enum' and enum_values %}
                        <select class="input_s" id="{{ key }}" name="{{ key }}" 
                                {% if is_required %} required {% endif %}>
                            {% for option in enum_values %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    {% if input_type == 'list' and enum_values %}
                        <select class="input_s" id="{{ key }}" name="{{ key }}"
                                {% if is_required %} required {% endif %}>
                            <option value="">-- Выберите значение --</option>
                            {% if enum_values is mapping %}
                                {% for code, name in enum_values.items() %}
                                    <option value="{{ code }}" data-label="{{ name }}">{{ name }}</option>
                                {% endfor %}
                            {% else %}
                                {% for option in enum_values %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    {% endif %}      

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <button type="submit" name="edit_parms">{{ res_value('REPORT_REQUEST') }}</button>
</form>
{% endblock %}
