{% extends 'base.html' %}

{% block title %}
    {{ res_value('RUNNING_REPORT') }}
{% endblock %}

{# Пока хоть один отчёт готовится (статус не 2 и не 3) - страница сама обновляется
   раз в 4 секунды. Обновление - GET той же страницы, дата берётся из сессии; ?auto=1 - метка
   автообновления, такие запросы не пишутся в журнал (util.logger.is_auto_refresh). #}
{% block head_extra %}
    {% set ns = namespace(running=false) %}
    {% for el in list or [] %}
        {% if el['status'] not in (2, 3, '2', '3') %}{% set ns.running = true %}{% endif %}
    {% endfor %}
    {% if ns.running %}<meta http-equiv="refresh" content="4;url={{ url_for('view_running_reports', auto=1) }}">{% endif %}
{% endblock %}

{% block main_title %}
<form method="POST" style="display:flex; border: none">
    <input class="input_s" style="margin: 2px 24px 2px 0px; padding: 0px 4px 0px 6px" type="date" id="request_date" name="request_date" value="{{ request_date }}">
    <button type="submit" class="bt" name="submit">{{ res_value('SELECT_BY_DATE') }}</button>
</form>
{% endblock %}


{% block navigate %}
    <a class="nav_button"  href="/{% if 'dep_name' in session %}dep/{{ session['dep_name']}}{% endif %}">{{ res_value('RETURN') }}</a>
{% endblock %}

{% block body %}
    <form style="margin:0; border: none;">
        {% if list %}
        <table>
            <thead>
                <tr>
                    <th><a>{{ res_value('REPORT_DATE') }}</a></th>
                    <th><a>{{ res_value('REPORT_ID') }}</a></th>
                    <th><a>{{ res_value('REPORT_NAME') }}</a></th>
                    <th><a>{{ res_value('REPORT_STATUS') }}</a></th>
                    <th><a>{{ res_value('RFPM_ID') }}</a></th>
                    <th><a>{{ res_value('DATE_FIRST') }}</a></th>
                    <th><a>{{ res_value('DATE_SECOND') }}</a></th>
                    <th><a>{{ res_value('RFBN_ID') }}</a></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for el in list %}
                <tr>
                    <td>
                        <a class="a_s">{{ el['date_event'] }}</a>
                    </td>
                    <td>
                        <a class="a_s">{{ el['num'] }}</a>
                    </td>
                    <td style="text-align: left">
                        <a class="a_s">{{ el['name'] }}</a>
                    </td>

                    {% if el['status'] == 2 or el['status'] == '2' %}
                    <td>
                        <a class="a_s2" href="/uploads/{{el['path']}}">{{ res_value('REPORT_GET') }}</a>
                    </td>
                    {% elif el['status'] == 3 or el['status'] == '3' %}
                    <td>
                        <a class="a_s2" href="/uploads/{{el['path']}}">{{ res_value('REPORT_MISTAKE') }}</a>
                    </td>
                    {% else %}
                    <td>
                        <a class="a_s">{{ res_value('REPORT_PREPARING') }}</a>
                    </td>
                    {% endif %}
                    <td>
                        {% if el['rfpm_id'] %}
                        <a class="a_s">{{ el['rfpm_id'] }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if el['date_first'] %}
                        <a class="a_s">{{ el['date_first'] }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if el['date_second'] %}
                        <a class="a_s">{{ el['date_second'] }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if el['rfbn_id'] %}
                        <a class="a_s">{{ el['rfbn_id'] }}</a>
                        {% endif %}
                    </td>

                    {% if el['status'] == 2 or el['status'] == 3 %}
                    <td>
                        <a class="a_s2" href="/remove-reports/{{ el['date_event'] }}/{{ el['num'] }}">{{ res_value('REMOVE_REPORT') }}</a>
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </form>
{% endblock %}